﻿@model IEnumerable<Domain.Entities.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    var nameUser = prompt("Введите логин");
    if (nameUser == "1") {
        var password = prompt("Введите пароль");
        if (password == "1") {
            alert("Добро пожаловать господин!");
        } else {
            alert("Неправельный пороль! Попробуй ещё раз.");
            window.location = "/"
        }
    } else {
        alert("Неправельный пороль! Попробуй ещё раз.");
        window.location = "/"
    }
</script>
<div class="panel panel-default">
    <div class="panel-heading">
        Список книг
    </div>

    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.BookId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="text-center">
                    Действия
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">
                        @item.BookId
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Edit", new { item.BookId})
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("BookId", item.BookId)
                            <input type="submit" class="btn btn-default btn-xs" value="Удалить" />
                        }
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="panel-footer">
        @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })
    </div>
</div>
